<p id="notice"><%= notice %></p>

<h1>Listing Paginas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Url</th>
      <th>Data acesso</th>
      <th>Contato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paginas.each do |pagina| %>
      <tr>
        <td><%= pagina.nome %></td>
        <td><%= pagina.url %></td>
        <td><%= pagina.data_acesso %></td>
        <td><%= pagina.contato_id %></td>
        <td><%= link_to 'Show', pagina %></td>
        <td><%= link_to 'Edit', edit_pagina_path(pagina) %></td>
        <td><%= link_to 'Destroy', pagina, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pagina', new_pagina_path %>
